@font-face {
  font-family: "circular-std";
  src: local('circular-std'), url(./circular-std.ttf) format('ttf');
}
body {
  background: black;
  margin: 0;
  font-family: circular-std,Arial, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

